ANTHROPIC_API_KEY=YOUR_API_KEY
GOOGLEAI_API_KEY=YOUR_API_KEY
OPENAI_API_KEY=YOUR_API_KEY
LEMONFOX_API_KEY=YOUR_API_KEY
REPLICATE_API_TOKEN=YOUR_API_KEY

NODE_ENV=environment
PORT=PORT

# MAILCHIMP Config
MAILCHIMP_KEY= key
MAILCHIMP_LIST_ID= list_id

# Stripe Config
STRIPE_PUBLISHABLE_KEY=pk live
STRIPE_SECRET_KEY=sk live

STRIPE_WEBHOOK_KEY=whsec

STRIPE_PUBLISHABLE_KEY_TEST=pk test
STRIPE_TEST_KEY=sk test

# Firebase Config
FIREBASE_API_KEY=YOUR_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_AUTH_DOMAIN
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_APP_ID
FIREBASE_MEASUREMENT_ID=YOUR_MEASUREMENT_ID

FIREBASE_SERVICE_ACCOUNT_KEY={bigAssJSONFILE}